#game {
	text-align: center;
}
#game h1 {
	font-size: 60px;
    margin: 30px;
}
table {
	display: inline-block;
}

.small-board {
    margin: 10px;
}

.small-board.won-board-O .small-col {
    border: 2px solid #33f;
    color: #ac9997;
}

.small-board.won-board-X .small-col {
    border: 2px solid #f33;
    color: #ac9997;
}

.small-board.inactive-board .small-col {
    border: 2px solid #111;
    color: #ac9997;
}

.small-col {
    position: relative;
    height: 40px;
    width: 40px;
    border: 3px solid black;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 10px;
}
 
