#game {
	text-align: center;
}
#game h1 {
	font-size: 60px;
    margin: 30px;
}
table {
	display: inline-block;
}

.small-board {
    margin: 10px;
}

.small-board.won-board-O .small-col {
    border-color: #33c;
    color: #ac9997;
}

.small-board.won-board-X .small-col {
    border-color: #c33;
    color: #ac9997;
}

.small-board.active-board .small-col {
    background-color: #345;
    border-width: 4px;
}

.small-board.inactive-board .small-col {
    border-color: #111;
    color: #ac9997;
}

.small-col {
    position: relative;
    height: 40px;
    width: 40px;
    border: 3px solid black;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 10px;
}

.small-col:hover {
    background-color: #4f5966;
}

.small-board.inactive-board .small-col:hover {
    background-color: #434b59;
}
 
.small-col.last-move {
    color: #fff;
    font-weight: bold;
    font-style: italic;
    font-size: larger;
}
